{{ $embedTitle := "Staff In/Out" }}
{{ $embedDescription := "Which staff members are currently available to help?" }}
{{ $embedColor := 12426513 }}

{{ $availableEmoji := "📳" }}
{{ $awayEmoji := "📴" }}
{{ $removeEmoji := "🛑" }}

{{ $emojiSet := cslice $availableEmoji $awayEmoji $removeEmoji }}

{{ $embedFooter := (sdict
    "text" (printf
        "%s = available\n%s = away\n%s = remove"
        $availableEmoji
        $awayEmoji
        $removeEmoji
    )
) }}

{{ $fieldAvailableName := "Ready to Help!" }}
{{ $fieldAwayName := "Away" }}
{{ $fieldEmptyValue := "(none)" }}
{{ $fieldInline := true }}

{{ $fieldEmptyAvailable := (sdict "name" $fieldAvailableName "value" $fieldEmptyValue "inline" $fieldInline) }}
{{ $fieldEmptyAway := (sdict "name" $fieldAwayName "value" $fieldEmptyValue "inline" $fieldInline) }}
{{ $fieldsEmpty := (cslice
        $fieldEmptyAvailable
        $fieldEmptyAway
    )
}}

{{ $targetMessageId := .ExecData.targetMessageId }}
{{ $targetEmoji := .ExecData.emoji }}
{{ $isReactionAdded := .ExecData.isReactionAdded }}
{{ $targetUserId := .ExecData.userId }}
{{ $targetUser := userArg $targetUserId }}

{{ $embedDict := (sdict
    "title" $embedTitle
    "description" $embedDescription
    "color" $embedColor
    "footer" $embedFooter
) }}

{{/* initial setup */}}
{{ if not .ExecData }}
    {{ $embedDict.Set "fields" $fieldsEmpty }}
    {{ $embed := cembed $embedDict }}

    {{ $messageId := sendMessageRetID nil $embed }}

    {{ range $emojiSet }}
        {{ addMessageReactions nil $messageId . }}
    {{ end }}

{{/* update existing embed, if present, based on expected emojis */}}
{{ else if in $emojiSet $targetEmoji }}
    {{ $targetMessage := getMessage nil $targetMessageId }}

    {{ range $index, $embed := $targetMessage.Embeds }}
        {{ if eq $embed.Title $embedTitle }}
            {{ $fields := (cslice
                (sdict "name" $fieldAvailableName "value" $targetUser.Mention "inline" $fieldInline)
                (sdict "name" $fieldAwayName "value" $targetUser.Mention "inline" $fieldInline)
            ) }}

            {{ $embedDict.Set "fields" $fields }}

            {{ editMessage nil $targetMessageId (complexMessageEdit "embed" $embedDict) }}
        {{ end }}
    {{ end }}
{{ end }}
