{{ $embedTitle := "Staff In/Out" }}
{{ $embedDescription := "Which staff members are currently available to help?" }}
{{ $embedColor := 12426513 }}

{{ $fieldAvailableName := "Ready to Help!" }}
{{ $fieldAwayName := "Away" }}

{{ $targetMessageId := .ExecData.targetMessageId }}
{{ $operation := .ExecData.operation }}
{{ $isReactionAdded := .ExecData.isReactionAdded }}
{{ $targetUser := .ExecData.user }}

{{/* initial setup */}}
{{ if not .ExecData }}
    {{ $embed := cembed
        "title" $embedTitle
        "description" $embedDescription
        "color" $embedColor
        "fields" (cslice
            (sdict "name" $fieldAvailableName "value" "Daine" "inline" true)
            (sdict "name" $fieldAwayName "value" "Summer" "inline" true)
        )
    }}

    {{ sendMessage nil $embed }}
{{ else }}
    {{ $targetMessage := getMessage nil $targetMessageId }}

    {{ range $index, $embed := $targetMessage.Embeds }}
        {{ if eq $embed.Title $embedTitle }}

        {{ end }}
    {{ end }}
{{ end }}
