{{/* triggerAvailabilityUpdate */}}
{{ $thisCmd := 2 }}
{{ $embedCmd := 1 }}

{{ $targetMessageId := .Reaction.MessageID }}
{{ $emoji := .Reaction.Emoji.Name }}
{{ $isReactionAdded := .ReactionAdded }}
{{ $userId := .Reaction.UserID }}

{{ execCC $embedCmd nil 0 (sdict
    "targetMessageId" $targetMessageId
    "emoji" $emoji
    "isReactionAdded" $isReactionAdded
    "userId" $userId
) }}
